body {
    background-color: #94B3FD


  }
  h1{
     color: ;
     
  }

  hr { 
    
      border-style: none;
      border-top-style: dotted;
      background-color: #grey;
      border-width: 5px;
      width: 5%;
    
    
    
  }
  img {
   
    border-radius: 50%;
    


    
  }
  